p{
	font-family: "Showcard Gothic";
	font-size: 16px;
	color: #FF9933;
	animation-name: example;
		animation-duration: 10s;
}
/* Standard syntax */
@keyframes example {
	0% {background-color: red;}
	25% {background-color: yellow;}
	50% {background-color: blue};
	75% {background-color: green};
	100% {background-color: yellow};
}

body{
	background-color: gray;
	padding: 0;
	margin: 0;
}
.section{
	width: 90%;
	min-height:100px;
	font-size: 69;
	font-family: "Lucida Console";
	background-color: #ffffff;
	color: #444444;
	padding: 5%;
}
.gri{
	background-color: #F4C430;
}
nav{
	border-top: 3px dashed green;
	border-bottom: 1px dotted orange;
	padding: 10px 0px;
}
nav > ul {
	list-style: none;
	text-align: center;
}
nav > ul > li {
	display: inline;
	padding: 0 20px;
}
nav a, a:hover, button, button:hover{
	text-decoration: none;
	font-family: "Lucida Console" 
	font-size: 16px;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 5px 5px 5px #999;
}
nav a, button{
	color: green;
}
nav a:hover, button:hover{
	color: white;
	background-color: green;
}
.fotokryesore{
	border: 5px solid #FFF;
	box-shadow: 5px 5px 5px #999;
	display: block;
	margin: 0 auto;
	border-radius: 50%
	height: auto;
}
